@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,400;0,700;1,100;1,600&display=swap');

* {
    /* define colors scheme (stealing from "aarthificial") */
    --black: #0e0d0e;
    --gray: #19181a;
    --red: #963c3d;
    --blue: #0a78f5;

    /* define constants */
    --border-radius: 3px;
    --padding: 8px;
    --box-shadow: black 0 0 16px 2px;
}


.App {
    text-align: center;
    color: white;
    font-family: 'IBM Plex Mono', monospace;
}



